.contactPage {
  background-color: transparent !important;
}

.contactPageMain {
  background-color: transparent !important;
}

.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.videoBackground video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentWrapper {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}






